.root { -fx-background-color: #141414; }
.label { -fx-text-fill: #999; }
.list-view { -fx-background-color: #1F1F1F; }
.list-cell { -fx-text-fill: #e5e5e5; -fx-background-color: #1F1F1F; }
.list-cell:filled:selected { -fx-background-color: #E50914; }