.root {
-fx-background-color: #FFFFFF;
}
.label {
-fx-text-fill: #444;
}

.list-view /* Left and right list boxes */ {
-fx-background-color: #EEEEEE;
}
.list-cell {
-fx-text-fill: #000000; -fx-background-color: #EECCEE;
}
.list-cell:filled:selected {
-fx-background-color: #FFFFFF;
}
